<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>pro12</display-name>
  <welcome-file-list>
  	<!-- 여러 개의 welcome 파일을 지정합니다. -->
    <welcome-file>/test02/main.jsp</welcome-file>
    <welcome-file>/test02/add.jsp</welcome-file>
    <welcome-file>/test02/add.html</welcome-file>
  </welcome-file-list>
  
  <!-- 404와 500 오류 발생 시 예외 처리를 할 페이지를 지정합니다. -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/err/error_404.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/err/error_500.jsp</location>
  </error-page>
</web-app>